li {
    list-style-type: none;
}
.wrapper {
    max-width: 1200px;
    border: 1px solid brown;
    margin: 0 auto;
}
.kontener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}
.kontener>div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
}

.kontener .box1 {
    background-color: bisque;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
.box1__b2 {
    background-color: rgb(230, 194, 150);
}
.kontener .box2 {
    background-color: rgb(241, 126, 80);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.kontener .box3 {
    background-color: rgb(142, 206, 243);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}
.box3__b2 {
    background-color: rgb(104, 167, 204);
}
.kontener .box4 {
    background-color: rgb(74, 117, 165);
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}

@media screen and (max-width: 800px) {
    .kontener {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .kontener .box1 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.33%;
                flex: 1 1 33.33%;
    }
    .kontener .box2 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.33%;
                flex: 1 1 33.33%;
    }
    .kontener .box4 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.33%;
                flex: 1 1 33.33%;
    }
    .kontener .box3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
    .kontener .box3 .box3__b1 {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.33%;
                flex: 1 1 33.33%;
    }
    .kontener .box3 .box3__b2 {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 66.66%;
                flex: 1 1 66.66%;
    }

}